* {
  margin: 0;
  padding: 0;
}

.home-page1 {
  width: 100%;
  height: 100vh;
  z-index: 1;
}
.home-page4 {
  width: 100%;
  height: 100vh;
  position: relative;
}

.navbar {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 20%);
  width: 95%;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.795);
  border-radius: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  z-index: 100;
}

.tabs {
  width: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-button {
  width: 10%;
}

.contact-button > .button {
  width: 100%;
  height: 40px;
  background-color: #af4c4c;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  z-index: 0;
}

.video-background {
  position: relative;
  width: 100%;
  height: 100vh; /* You can adjust this based on your need */
  overflow: hidden;
}

.video-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensures the video covers the div without distortion */
  z-index: -1; /* Keeps the video behind the content */
}

.content {
  position: absolute;
  bottom: 70px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 40%;

  /* Makes the content appear above the video */
  z-index: 1;
  color: white; /* Text color to stand out against the video */
  text-align: center; /* Adjust padding to center content vertically */
}

.heading-text {
  font-family: "Source Serif 4", sans-serif;
  font-size: 5rem;
  font-weight: bold;
  color: #f1dba3;
}

.underline-text {
  font-size: 1.5rem;
  color: white;
}

.button-text {
  width: 200px;
  height: 60px;
  font-size: 1.5rem;
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid white;
  border-radius: 30px;
  justify-content: center;
}

#container {
  width: 100%;
  height: auto;
  font-family: Montserrat;
  position: relative;

  white-space: nowrap;
  color: #fff;
}
.scroll {
  overflow: hidden;
  user-select: none;
  padding-block: 18px;

  --gap: 3rem;
  display: flex;
  gap: var(--gap);
}

.scroll > ul {
  min-width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
  width: fit-content;
  flex-shrink: 0;
  white-space: nowrap;
  animation: loop 15s linear infinite;
}

.scroll:hover > ul {
  animation-play-state: paused;
}

/* .scroll > ul:nth-child(2) {
  background-color: green;
} */

@keyframes loop {
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
.item {
  display: flex;
  align-items: center;
  font-size: 2rem;
  white-space: nowrap;
  color: #000000;
}

.images {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.images1 {
  margin-top: 50px;
  display: flex;
  gap: 1.5rem;
  transform: translateX(20px);
  justify-content: space-evenly;
  flex-shrink: 0;
  width: fit-content;
  min-width: 100%;
}
.images2 {
  display: flex;
  gap: 1.5rem;
  transform: translateX(-20px);
  justify-content: space-evenly;
}

.image-div {
  width: 100%;
  background-color: #af4c4c;
  border-radius: 20px;
  min-width: 200px;
}

.image {
  width: 100%;
  height: 100%;

  aspect-ratio: 3/2;
  object-fit: cover;
  border-radius: 20px;
}
/* Aniket style part */
#pat-heading {
  text-decoration: double;
  font-size: clamp(20px, 3vw, 200px);
  text-align: center;
  margin-bottom: 4%;
  margin-top: 3%;
  /* 
  font-size: clamp(min, preffered, max);
  ex: 
    font-size: clamp(12px , 2vw, 30px);
   */
}

.float {
  position: absolute;
  top: 0;
  right: 45%;
  left: 45%;
}

#pattners {
  display: flex;
  flex-direction: row;
  margin-left: 6%;
}
#pat-img {
  height: 60%;
  width: 70%;
  border-radius: 10px;
}
#rev-head {
  text-decoration: double;
  font-size: xx-large;
  text-align: center;
}
.review {
  margin-top: 8%;
  margin-bottom: 10%;
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 20px;
  background-color: #b2b2b2;
  position: relative;
}
.review-head {
  height: 100%;
  width: 20%;
  margin-top: 10%;
  /* margin-left: 5%;
  margin-right: 5%; 
  
  */

  padding-bottom: 5%;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  border-radius: 25px;
  background-color: #edecec;
}
#rev-img {
  height: 20%;
  width: 20%;
  border-radius: 50%;
}
#eve-img {
  height: 20%;
  width: 20%;
  border-radius: 10%;
}
